.side-bar
  .side-header
    .side-header__box
      %p.side-header__box__user
        =current_user.name
      %ul.side-header__box__menu
        %li.side-header__box__menu__edit
          =link_to  new_group_path do
            = icon('fas','edit')
        %li.side-header__box__menu__user-icon
          =link_to  edit_user_path(current_user) do
            = icon('fas','cog',class: 'icon')
  
  .side-groups
    - current_user.groups.each do |group|
      .group
        = link_to '#', class: "group" do
          %p.group__name
            = group.name
          %p.group__name-message
            メッセージはまだありません。


