.side-bar
  .side-header
    .side-header__box
      %p.side-header__box__user
        yukarin
      %ul.side-header__box__menu
        %li.side-header__box__menu__edit
          =link_to "#" do
            = icon('fas','edit')
        %li.side-header__box__menu__user-icon
          =link_to "#" do
            = icon('fas','cog')
  
  .side-groups
    .group
      %p.group__name
        techcamp
      %p.group__name-message  
        まだメッセージがありません
      
      .group
      %p.group__name
        techcamp
      %p.group__name-message  
        まだメッセージがありません
      
    
  

